.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "a b"
    "b c";
  column-gap: 4rem;
  row-gap: 2rem;
  width: 70%;
  padding: 2rem;
  margin-inline: auto;
}

.app-home-title {
  font-size: 7rem;
  font-weight: bold;
  text-align: center;
  margin-top: 2rem;
  background: var(--app-color-gradient-brand);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  transform: scale(0.7);
  will-change: opacity, transform;
  animation: showTitle 1.5s ease-in 0.5s forwards;
}

@keyframes showTitle {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }

  60% {
    transform: scale(1);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
