:host {
  position: fixed;
  inset-inline: 0 15px;
  z-index: 2;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "a b c";
  align-items: center;
  grid-template-rows: 100%;
  height: var(--app-header-height);
  padding-inline: 2rem;
  background: color-mix(in srgb, var(--mat-sys-surface) 80%, transparent);
  backdrop-filter: blur(4px);

  >button {
    grid-area: c;
    place-self: end;
    align-self: center;
  }
}

a {
  cursor: pointer;
  text-decoration: none;
}


nav {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
  }

  li {
    margin-right: 16px;
  }
}

.angular-logo {
  margin-right: 10px;
}

.app-header-nav {
  grid-area: a;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.title {
  grid-area: b;
  place-self: center;
  color: var(--app-color-primary);
  font-size: 2.5rem;
}
