:host {
  --_padding-left: 16px;
}

dialog {
  margin: 0 auto;
  margin-block-start: 150px;
  background: var(--mat-sys-surface);
  border: 1px solid var(--mat-sys-outline);
  border-radius: var(--mat-sys-corner-small);
  padding: 0;
  overflow: hidden;

  &::backdrop {
    background: color-mix(in srgb, var(--mat-sys-scrim) 10%, transparent);
    backdrop-filter: blur(5px);
  }
}

.app-text-field {
  box-sizing: border-box;
  padding: 8px 8px 8px var(--_padding-left);
}

.container {
  width: 600px;
  max-width: 80vw;
}

.search-input {
  width: 100%;
}

.search-results {
  display: flex;
  flex-direction: column;
  border-block-start: 1px solid var(--mat-sys-outline);
  padding-block: var(--_padding-left);
  padding-inline-start: var(--_padding-left);
  overflow: hidden auto;
  max-height: 50vh;
}

.search-result-item {
  --_color: var(--app-color-text-input-placeholder);

  display: flex;
  padding-block: 6px;
  padding-inline: 10px 0;
  border-inline-start: 2px solid var(--mat-sys-outline);
  transition: background-color 0.2s ease, color 0.2s ease;

  &:hover {
    --_color: var(--app-color-text);

    background: var(--mat-sys-surface-container-low);
    border-inline-start-color: var(--app-color-border-light);
  }

  >a {
    display: flex;
    gap: 1rem;
  }

  .mat-icon {
    font-size: 20px;
    margin-block-start: 2px;
    color: var(--_color);
  }
}

.search-results-empty,
.search-results-no-results {
  padding: 20px;
  padding-inline: var(--_padding-left) 8px;
  color: var(--app-color-text);
  font: var(--mat-sys-body-medium);
}

.text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--_color);
}

.label {
  font: var(--mat-sys-body-large);
}

.sublabel {
  font: var(--mat-sys-body-medium);
}
