:host {
  --_padding-left: 16px;
}

dialog {
  margin: 0 auto;
  margin-block-start: 150px;
  width: 500px;
  background: var(--mat-sys-surface);
  border: 1px solid var(--mat-sys-outline);
  border-radius: var(--mat-sys-corner-small);
  /* padding: 10px; */
  padding: 0;

  &::backdrop {
    background: color-mix(in srgb, var(--mat-sys-scrim) 10%, transparent);
    backdrop-filter: blur(5px);
  }
}

.app-text-field {
  box-sizing: border-box;
  padding: 8px 8px 8px var(--_padding-left);
}

.container {
  /* padding-inline: 10px; */
}

.search-input {
  width: 100%;
}

.search-results {
  border-block-start: 1px solid var(--mat-sys-outline);
}

.search-results-empty,
.search-results-no-results {
  padding-block: 20px;
  padding-inline: var(--_padding-left) 8px;
  color: var(--app-color-text);
  font: var(--mat-sys-body-medium);
}
