<dialog #searchDialog>
  <div class="container"
       (appClickOutside)="closeSearchDialog()">
    <app-text-field class="search-input"
                    placeholder="Search site"
                    [autofocus]="true"
                    [formControl]="searchControl"
                    [resetLabel]="'Clear the search'" />

    @if (searchResults().length) {
    <ul class="search-results mini-scroll-track">
      @for (result of searchResults(); track result.id) {
      <li appSearchItem
          class="search-result-item"
          [item]="result">
        <a [routerLink]="result.url"
           (click)="history.addItem(result)">
          <mat-icon>{{ iconMap[result.type] }}</mat-icon>
          <div class="text-content">
            <div class="label"
                 [innerHTML]="result.labelHtml"></div>
            <div class="sublabel"
                 [innerHTML]="result.subLabelHtml"></div>
          </div>
        </a>
      </li>
      }
    </ul>
    }
    @else if (history.hasItems() && !searchControl.value.length) {
    <app-search-history />
    } @else {
    <div class="search-results mini-scroll-track">
      @if (!resultsResource.hasValue()) {
      <div class="search-results-empty">Start typing to see results</div>
      }
      @else if (searchResults().length === 0) {
      <div class="search-results-no-results">
        No results found
      </div>
      }
    </div>
    }
  </div>
</dialog>
