:host {
  padding: 1rem 2rem;
  box-sizing: border-box;
}

.mat-column-dateCreated {
  max-width: 150px;
}

.mat-column-stateId {
  max-width: 100px;
}

.mat-column-isActive,
.mat-column-view {
  max-width: 90px;
}

.mat-column-isActive {
  .mat-icon {
    color: var(--app-color-success);
  }
}
