.card {
  display: flex;
  flex-direction: column;
  border-radius: var(--mat-sys-corner-medium);
  background: var(--mat-sys-surface-container-low);
}

.card-header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 16px;
}

.title {
  font-size: 1rem;
  line-height: 1rem;
  height: 1rem;
  width: 60%;
  border-radius: 8px;
}

.subtitle {
  font-size: 0.9rem;
  line-height: 0.9rem;
  height: 0.9rem;
  width: 30%;
  border-radius: 8px;
}

.img {
  height: 164px;
  width: 164px;
  margin-block-start: 16px;
  margin-inline: auto;
  border-end-start-radius: var(--mat-sys-corner-medium);
  border-end-end-radius: var(--mat-sys-corner-medium);
}

.skeleton {

  &:not(.img),
  &:not(.subtitle) {
    animation: skeleton-loading 1s linear infinite alternate;
  }

  &.subtitle {
    animation: skeleton-loading-secondary-color 1s linear infinite alternate;
  }

  &.img {
    animation: img-skeleton-loading 1s linear infinite alternate;
  }
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 80%);
  }

  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

@keyframes skeleton-loading-secondary-color {
  0% {
    background-color: hsl(265, 99%, 56%);
    ;
  }

  100% {
    background-color: hsl(265, 99%, 71%);
    ;
  }
}

@keyframes img-skeleton-loading {
  0% {
    color: hsl(200, 20%, 80%);
  }

  100% {
    color: hsl(200, 20%, 95%);
  }
}
