:host {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background: var(--app-color-gradient-primary);
  padding: 3rem;
  border-radius: 12px;
}

.icon {
  --_size: 40px;

  position: absolute;
  inset-block-start: 6px;
  inset-inline-start: 6px;
  height: var(--_size);
  width: var(--_size);
  font-size: var(--_size);
  color: var(--app-color-primary-light);
}

.options {
  position: absolute !important;
  inset-block-start: 6px;
  inset-inline-end: 6px;
  color: var(--mat-sys-primary);
}

.label {
  font-size: 0.9rem;
  text-transform: uppercase;
}

.total {
  font-size: 1.8rem;
  font-weight: 600;
}
