:host {
  width: 70%;
}

.mat-mdc-tab-group {
  width: 100%;
}

::ng-deep .mat-mdc-tab-body-content {
  box-sizing: border-box;
  padding: 2rem 0;
}

::ng-deep .mat-mdc-tab-body-content router-outlet+* {
  width: 100%;
}
