:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: var(--app-unprotected-height);
  padding-block-start: 30px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 320px;
}
