:host {
  display: grid;
  place-content: center;
  height: var(--app-main-height);
}

.signin-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 320px;
}

.full-width {
  width: 100%;
}
