<header>
  Sign-in to access your account
  <img width="64px"
       height="64px"
       loading="lazy"
       alt="Ghost"
       src="/ghost.svg" />
</header>

<form [formGroup]="form"
      (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Username</mat-label>
    <input matInput
           formControlName="username"
           autocomplete="username" />
    @if (form.get('username')?.hasError('required')) {
    <mat-error>
      Username is required
    </mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput
           type="password"
           formControlName="password"
           autocomplete="current-password" />
    @if (form.get('password')?.hasError('required')) {
    <mat-error>
      Password is required
    </mat-error>
    }
  </mat-form-field>

  <button matButton="outlined"
          color="primary"
          type="submit"
          [disabled]="isSubmitting() || form.invalid">
    Sign In
  </button>
</form>

<footer>
  @if (errorMessage()) {
  <mat-error>
    {{ errorMessage() }}
  </mat-error>
  }
</footer>
