<app-form [mode]="mode()"
          (change)="onFormChange($event)">

  <app-form-card title="Contact">
    <mat-slide-toggle #activeToggle
                      class="app-acive"
                      [matTooltip]="activeToggle.checked ? 'Customer is active' : 'Customer is inactive'"
                      [control]="form.isActive" />

    <section class="name">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput
               autocapitalize="name"
               [control]="form.name" />
        @if (form.name().errors().length) {
        <mat-error>{{ form.name().errors()[0].message }}</mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label>Phone</mat-label>
        <input matInput
               autocapitalize="phone"
               type="tel"
               [control]="form.phone" />
        @if (form.phone().errors().length) {
        <mat-error>{{ form.phone().errors()[0].message }}</mat-error>
        }
      </mat-form-field>
    </section>
  </app-form-card>

  <app-form-card title="Address">
    <section class="address">
      <mat-form-field>
        <mat-label>Street address</mat-label>
        <input matInput
               autocomplete="streetAddress"
               [control]="form.streetAddress" />
        @if (form.streetAddress().errors().length) {
        <mat-error>{{ form.streetAddress().errors()[0].message }}</mat-error>
        }
      </mat-form-field>
    </section>

    <section class="address2">
      <mat-form-field>
        <mat-label>Street address2</mat-label>
        <input matInput
               autocomplete="streetAddress2"
               [control]="form.streetAddress2" />
      </mat-form-field>
    </section>

    <section class="location">
      <mat-form-field class="city">
        <mat-label>City</mat-label>
        <input matInput
               autocomplete="city"
               [control]="form.city" />
        @if (form.city().errors().length) {
        <mat-error>{{ form.city().errors()[0].message }}</mat-error>
        }
      </mat-form-field>
      <mat-form-field class="state">
        <mat-label>State</mat-label>
        <app-state-select [control]="form.stateId" />
        @if (form.stateId().errors().length) {
        <mat-error>{{ form.stateId().errors()[0].message }}</mat-error>
        }
      </mat-form-field>
      <mat-form-field class="zip">
        <mat-label>Zip</mat-label>
        <input matInput
               autocomplete="zip"
               [control]="form.zip" />
        @if (form.zip().errors().length) {
        <mat-error>{{ form.zip().errors()[0].message }}</mat-error>
        }
      </mat-form-field>
    </section>
  </app-form-card>

</app-form>
