:host {
  /* box-sizing: border-box; */
  width: 100%;
  /* padding: 1rem 2rem; */
  padding-inline-end: 2px;
}

.app-table-skeleton {
  width: calc(100% - 2px);
}

.mat-column-dateCreated {
  max-width: 150px;
}

.mat-column-stateId {
  max-width: 100px;
}

.mat-column-isActive,
.mat-column-view {
  max-width: 90px;
}

.mat-column-isActive {
  .mat-icon {
    color: var(--app-color-success);
  }
}
