@use "sass:map";
@use "@angular/material" as mat;
@use "./theme-colors" as app-theme;

html {
  $app-color-text: map.get(app-theme.$primary-palette, neutral-variant, 80);
  --app-color-text: #{$app-color-text};

  $app-color-label: map.get(app-theme.$primary-palette, neutral-variant, 70);
  --app-color-label: #{$app-color-label};

  $app-color-text-input-placeholder: map.get(app-theme.$primary-palette, neutral-variant, 60);
  --app-color-text-input-placeholder: #{$app-color-text-input-placeholder};

  color-scheme: light dark;
  @include mat.theme(
    (
      color: (
        primary: app-theme.$primary-palette,
        tertiary: app-theme.$tertiary-palette,
        theme-type: dark
      ),
      typography: Roboto,
      density: 0
    )
  );

  @include mat.form-field-density(-3);
  @include mat.button-toggle-density(-3);
}
