:root {
  --app-color-primary: #2b7fff;
  --app-color-secondary: #7f22fe;
  --app-color-gradient-brand: linear-gradient(
    90deg,
    var(--app-color-primary) 0%,
    var(--app-color-secondary) 100%
  );
}
