.container {
  display: flex;
  gap: 2rem;
  height: 100%;
}

.mat-mdc-list {
  min-width: 300px;
  border: 1px solid var(--mat-sys-outline);
  border-radius: 12px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  border: 1px solid var(--mat-sys-outline);
  border-radius: 12px;
  padding: 1rem;

  .widget {
    display: flex;
    flex: 0 1 auto;
    border: 1px dashed var(--mat-sys-outline);
    border-radius: 8px;
    width: 350px;
  }

  .widget-type-1 {
    height: 100px;
  }

  .widget-type-2 {
    height: 260px;
  }

  .widget-type-3 {
    height: 300px;
  }
}

.cdk-drag-preview {
  --_opacity: 0.2;
  --app-color-skeleton: hsla(0, 0%, 70%, var(--_opacity));

  box-sizing: border-box;
  border-radius: 4px;
  border: 1px dashed var(--app-color-primary);
  background: rgba(0, 0, 0, var(--_opacity));
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
