<section class="card-container">
  @for (user of users(); track user.id) {
  @defer (on viewport) {
  <mat-card class="app-card"
            (click)="onCardClick($event, user.id)">
    <mat-card-header class="app-card-header">
      <mat-card-title>
        <span class="fullname">{{ user.firstName}} {{ user.lastName }}</span>
      </mat-card-title>
      <mat-card-subtitle>
        <div class="role">{{ user.role.name }}</div>
      </mat-card-subtitle>
      <span [class.inactive]="!user.isActive">{{ user.isActive ? '' : 'in-active' }}</span>
    </mat-card-header>
    <img loading="lazy"
         alt="Avatar"
         src="/assets/images/avatar.svg"
         width="164"
         height="164" />
  </mat-card>
  }
  @placeholder (minimum 1s) {
  <div class=".app-card"></div>
  }
  }
</section>
