:host {
  display: block;
  width: 70%;
  height: 100%;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "a a"
    "b c"
    "d d";
  column-gap: 2rem;
  margin-block-start: 20px;

  >section {
    display: flex;
    flex-direction: column;
    gap: 12px;

    &:first-child {
      grid-area: b;
    }

    &:last-child {
      grid-area: c;
    }
  }
}

header {
  grid-area: a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-end: 2rem;
}

footer {
  grid-area: d;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}


.user-id {
  font: var(--mat-sys-label-large);
  font-style: italic;
  color: var(--mat-sys-outline);
}

.city-state-zip {
  display: flex;
  gap: 10px;
}

.zip {
  width: 14ch;
}
