<app-header />
<!-- <app-header>
  <button matIconButton
          aria-label="Open sidenav"
          (click)="sidenavOpen.set(true)">
    <mat-icon>menu</mat-icon>
  </button>
</app-header> -->

<mat-sidenav-container>
  <!-- <mat-sidenav mode="over"
               [opened]="isSidenavOpen"
               (openedChange)="sidenavOpen.set($event)">
    <app-sidenav />
  </mat-sidenav> -->
  <mat-sidenav-content>
    @defer (when isBrowser) {
    @defer (when displaySearchDialog(); prefetch on idle) {
    <app-command-palette (close)="displaySearchDialog.set(false)" />
    }
    }
    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>
