:host {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

main {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding-block-start: var(--app-header-height);
  padding-block-end: 2rem;
  padding-inline: 2rem;
  overflow: hidden auto;
}
