.mat-sidenav-container {
  position: static;
  height: 100vh;
}

.mat-sidenav,
.mat-sidenav-content {
  padding: 2rem
}

.mat-sidenav-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow: auto;
  padding-block: 2rem;
}
