.mat-sidenav-container {
  position: static;
  height: 100vh;
}

.mat-sidenav,
.mat-sidenav-content {
  padding: 2rem
}

.mat-sidenav-content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: var(--app-height); */
  height: 100%;
  overflow: auto;
  padding-block: 2rem;
  padding-block-start: var(--app-header-height);
}
