<div class="container">
  @if (products(); as products) {
  @for (product of products; track product.id) {
  @defer (on viewport; prefetch on idle) {
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        {{ product.name }}
      </mat-card-title>
      <mat-card-subtitle>
        {{ product.description }}
      </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image
         loading="lazy"
         src="/assets/images/product-types/{{ product.productType | lowercase }}.jpeg" />
    <div class="price">{{ product.price | currency }}</div>
  </mat-card>
  }
  @placeholder {
  <div class="app-card"></div>
  }
  }
  }
</div>
